.header {

  height: 140px;

  padding: 2rem;

  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;

  background: var(--gray-900);
  box-shadow: 0 0 150px rgb(0, 0, 0);
}

.header p {
  font-size: 2.5rem;
  background-image: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;


}


@media (max-width: 768px) {
 
  .header {
    height: 80px;
    padding: 1rem;
  }

  .header p {
    font-size: 1.25rem;
  }
  
}