.taskListContainer{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  width: 80%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--gray-700)

}

.taskListContainer ul{
  list-style:none;
  width:100%;
}
