:root{
  --white: #fff;

  --gray-100: #E1E1E6;
  --gray-300: #C4C4CC;
  --gray-400: #8D8D99;
  --gray-600: #323238;
  --gray-700: #29292E;
  --gray-800: #202024;
  --gray-900: #121214;
  
  --red-100: #F75A68;
  --red-300: #E83F5B;
  --red-500: #D73754;
  --red-700: #C5303D;

  --gradient: linear-gradient(
    180deg,
    rgba(36, 0, 0, 1) 0%,
    rgba(168, 38, 38, 1) 36%,
    rgba(177, 177, 177, 0.9988617549668874) 100%
  );


}

:focus{
  outline: none;
  box-shadow: 0 0 0 1px var(--red-500);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--gray-700);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}